@import 'tailwindcss';

@theme {
	--default-font-family: 'Nunito';
	--font-display: 'Pacifico', sans-serif;

	--color-cloud-drift: #fafafa;
	--color-icy-wisp: #e7edf1;
	--color-soft-charcoal: #5e5e5e;
	--color-dusk-teal: #84a9b1;

	--color-midnight-slate: #1e252d;
	--color-deep-ocean: #35424d;
	--color-pale-moon: #c7d2da;
	--color-smoky-blue: #8ca4b7;

	--color-golden-zing: #ffc72c;

	--spacing-safe-top: env(safe-area-inset-top, 0px);
}
